<div class="container">
  <div class="row">
    <mat-card>
      <mat-card-header>
        <h1>Welcome to Jonathan's Exam App !</h1>
      </mat-card-header>
      <mat-card-content>
        <hr>
        <p>Please sign-up/log-in to start enjoying the wonderfull possibilites</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
