.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

button {
    margin-left:10px
}

mat-form-field {
  margin: 1rem;
  width: 17% !important;
}

button {
  margin-top: 1rem !important;
}
