/* .container {
  margin-top: 5rem;
  margin-left: 10rem;
} */

input, select {
  width: 35rem;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.date {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid lightgray;
}
