/* You can add global styles to this file, and also import other style files */
/* "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css", */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success {
  /* background-color:#004D40 !important; */
  text-align: center;
  justify-content: center;
}
