<div class="container">
  <div class="row">
    <div class="col-10">
      <mat-card>
          <mat-toolbar color="primary">Log In</mat-toolbar>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="container">
            <div class="row">
              <mat-form-field>
                <input matInput #email="ngModel" type="email" placeholder="your email" ngModel name="email" email required>
                <mat-error *ngIf="email.invalid">Please enter a valid Email</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <input matInput #pwd [type]="pwdToggle" placeholder="your password" ngModel name="password" required>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="togglePwd()">
                  <mat-icon>remove_red_eye_outline</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-card-actions>
              <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Log In</button>
            </mat-card-actions>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
