mat-form-field {
    width: 20%;
    margin-left: 6rem;
    margin-bottom: 1rem;
  }
  
  mat-card {
    width: 30%;
    margin: 5rem;
    margin-left: 20rem;
    padding:0;
    justify-content: center;
  }
  
  mat-card-actions {
    margin-top: 2rem;
    margin-left: 45rem;
    margin-bottom: 2rem;
  }
  
  mat-toolbar {
    margin-bottom: 2rem;
  }
  