<mat-card>
  <mat-toolbar color="primary">
    <h1>Classify a document</h1>
  </mat-toolbar>
    <form #classifyForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container"> 
        <mat-form-field style="width: 400px;">
            <textarea 
                matInput placeholder="Enter text to classify"
                [(ngModel)] = "text"
                name = "text"
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="20"                            
            >
            </textarea>      
        </mat-form-field>                   
        <mat-card-actions>
            <button mat-raised-button color="primary">Classify</button>
        </mat-card-actions>
      </div>
    </form>
</mat-card>