<p *ngIf="!(posts$ | async)"> loading posts...</p>
<mat-accordion>
    <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let post of posts$ | async">
        <mat-expansion-panel-header>
            <p *ngIf="laterviewing && post.id ===  currentPostId">Saved for later viewing</p>
            <mat-panel-title>
                <b>Title: </b> 
                <p>{{post.title }} </p>
                <b> Post Number: </b>  <p> {{post.id }}</p>
            </mat-panel-title>
            <mat-panel-description >
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p> <q><b>body: </b> {{post.body}}</q></p>
        <p> <q><b>comment: </b>{{post.comment }}</q></p>
        <p> <q><b>like: </b>{{post.comment }}</q></p>
        <button mat-raised-button color="primary" (click)="savePost(post.id, post.title, post.body)">Save</button>
    </mat-expansion-panel>
</mat-accordion>