<mat-nav-list fxFlex fxLayout="column">
  <a mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>verified_user</mat-icon>
    <span class="nav-caption">Sign Up</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>fingerprint</mat-icon>
    <span class="nav-caption">Log In</span>
  </a>
  <a mat-list-item routerLink="/orders" (click)="onClose()">
    <mat-icon>people_alt</mat-icon>
    <span class="nav-catpion b">Orders</span>
  </a>
  <mat-list-item (click)="onClose()">
    <button mat-icon-button>
      <mat-icon>power_settings_new</mat-icon>
      <span class="nav-catpion b">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
