.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

p span {
  color: dodgerblue;
}

.widget {
  background-color: black;
  padding: 5px;
  margin-left: 10px;
  border-radius: 90px;
  color:white;
  font-size: 10px;
  width: 120%;
  text-align: center;
}
