.welcome {
  margin-left: 30rem;
  margin-top: 10rem;
  width: 30%;
  text-align: center;
}

.header-item {
  padding-bottom: 2rem;
  border-bottom: solid 1px lightgrey;
  /* margin-bottom: 2rem; */
}
