<mat-card>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input
                matInput placeholder="email"
                [(ngModel)] = "email"
                name = "email">
        </mat-form-field>
        <mat-form-field>
                <input
                    matInput placeholder="password"
                    [(ngModel)] = "password"
                    name = "password"
                    type = "password"
                    #pwd>
        </mat-form-field>
        <mat-hint>Password length {{ pwd.value?.length }} / 8</mat-hint>
        <div >
            <button mat-raised-button color="primary"
                    [disabled]="!signupForm.form.valid">
                     Log In
            </button>
        </div>
      </div>
    </form>
    </mat-card>
