.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a {
  text-decoration: none;
  color: white;
  float: left;
  margin-left: 2rem;
}

.links {
  flex-direction: row;
  /* margin-left: 110rem; */
}

.logo {
  margin-right: 110rem;
}

.row {
margin-left: 5rem;
}

a:hover {
  opacity: 0.5;
}
