<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
  #sidenav
  class="sidenav"
  role="navigation"
  [opened]="openSidenav">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="!isAuth" mat-list-item routerLink="login">Log In</a>
      <a *ngIf="!isAuth" mat-list-item routerLink="signup">Sign Up</a>
      <a *ngIf="isAuth" mat-list-item routerLink="blogpost">Blog Posts</a>
        <a *ngIf="isAuth" mat-list-item routerLink="savedblogpost">Saved Posts</a>
      <a *ngIf="isAuth" mat-list-item style="cursor:pointer" (click)="onLogout()">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        *ngIf="isAuth"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="onToggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <div class="logo">
               <h1>ExamApp</h1>
        </div>
      </span>
      <div class="links">
        <a *ngIf="!isAuth" mat-list-item routerLink="signup">Sign Up</a>
        <a *ngIf="!isAuth" mat-list-item routerLink="login">Log In</a>
        <a *ngIf="isAuth" mat-list-item routerLink="blogpost">Blog Posts</a>
        <a *ngIf="isAuth" mat-list-item routerLink="savedblogpost">Saved posts</a>
        <a *ngIf="isAuth" style="cursor:pointer" (click)="onLogout()">Log Out</a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
