<p *ngIf="!(posts$ | async)"> loading posts...</p>
<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let post of fillteredPosts1">
        <mat-expansion-panel-header >
            <p>{{ post.message }}</p>
            <mat-panel-title>
                <b>Title: </b> 
                <p>{{post.postTitle }} </p>
                <b> Post Number: </b>  <p> {{post.postId }}</p>
            </mat-panel-title>
            <mat-panel-description >
            </mat-panel-description>
        </mat-expansion-panel-header>

        
        <div >
                <p> <q>{{post.postbody}}</q></p>
                <p> <b>By: </b> {{post.owner}}</p>
                <p> <b>Number of likes: </b> {{ currentLike }}</p>
                <div fxFlex fxLayout="flex-end"> 
                    <button mat-raised-button color="accent" (click)="onLike(post.postId, post.key)"><mat-icon>thumb_up_alt</mat-icon> </button>
                </div>
                <div fxFlex fxLayout="flex-end"> 
                    <button mat-raised-button color="danger" (click)="onDelete(post.key, post.postId)">Delete Post</button>
                </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>