mat-form-field {
  width: 30%;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

mat-card {
  width: 40%;
  margin: 5rem;
  margin-left: 10rem;
  padding:0;
  justify-content: center;
}

mat-card-actions {
  margin-top: 2rem;
  margin-left: 18rem;
  margin-bottom: 2rem;
}

mat-card-header {
  margin-bottom: 1rem;
}
