<div class="container">
  <div class="row">
    <div class="col-10">
      <mat-card>
          <mat-toolbar color="primary">Sign Up</mat-toolbar>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="container">
            <div class="row">
              <mat-form-field>
                <input matInput #email="ngModel" type="email" placeholder="your email" ngModel name="email" email required>
                <mat-error *ngIf="email.invalid">Please enter a <b>valid</b> Email</mat-error>
                <mat-error *ngIf="email.hasError('required')">Please format as <b>Email</b></mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <input matInput #pwd="ngModel" [type]="pwdToggle" placeholder="your password" ngModel name="password" required>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="togglePwd()">
                  <mat-icon>remove_red_eye_outline</mat-icon>
                </button>
                <mat-hint>your password length {{ pwd.value?.length }} / 8</mat-hint>
                <mat-error>Password <b>length</b> should be at lease 8 characters long</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-card-actions>
              <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid && (pwd.value?.length < 8)">Sign up</button>
            </mat-card-actions>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
